@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import './prose.css';
@import './code.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tw-animate-css';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #e66684;
  --secondary: #8ad0bb;
}

.dark {
  --color-background: #121212;
  --color-foreground: #ededed;

  /* --color-primary: #ff6b81;
  --color-secondary: #4dd0e1; */

  --color-primary: #e66684;
  --color-secondary: #8ad0bb;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-bubble: var(--font-bubble);
  --font-d2: var(--font-d2);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1 {
    font-size: var(--text-3xl); /* 30px */
    font-weight: var(--font-weight-semibold);
  }

  h2 {
    font-size: var(--text-2xl); /* 24px */
    font-weight: var(--font-weight-medium);
  }

  h3 {
    font-size: var(--text-xl); /* 18px */
    font-weight: var(--font-weight-medium);
  }

  h4 {
    font-size: var(--text-lg); /* 16px */
    font-weight: var(--font-weight-semibold);
  }
}

* {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto;
  scroll-behavior: smooth;
}

::selection {
  color: #fff;
  background: var(--primary);
  transition: all 250ms ease-in;
}
::-moz-selection {
  color: #fff;
  background: var(--primary);
  transition: all 250ms ease-in;
}

body {
  @apply bg-background text-foreground tracking-tighter;

  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

.click {
  @apply transition-all duration-300 hover:-translate-y-1 active:translate-y-0 active:scale-90;
}


.noscroll {
  -ms-overflow-style: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}
