.prose {
  @apply prose-h1:text-3xl prose-h1:font-bold prose-h1:!mt-12 prose-h2:text-[22px] prose-h2:font-semibold prose-h3:text-lg prose-h3:font-medium;
}

.prose h1, h2, h3 {
  @apply relative mt-4 mb-2;
  scroll-margin-top: 100px;
}

.prose p {
  @apply my-2;
}

.prose a:not(.anchor) {
  @apply relative px-1 no-underline;
}

.prose a:not(.anchor)::before {
  content: '';
  @apply bg-secondary absolute inset-x-0 bottom-0 -z-10 h-1.5 hover:h-full transition-all duration-300;
}

.prose a:not(.anchor):hover::before {
  @apply h-full;
}

.prose .anchor {
  @apply absolute -left-5.5 text-transparent hover:bg-primary/70 px-1 font-black no-underline transition-colors duration-300 hover:text-white text-xl flex top-1/2 -translate-y-1/2;
}

.prose .anchor:after {
  content: '#';
}

.prose :not(pre) > code {
  @apply mx-0.5 rounded bg-gray-100 px-2 py-0.5 text-red-400 dark:bg-gray-800;
}

.prose :not(pre) > code::before,
code::after {
  content: none;
}

.prose pre, code {
  @apply font-d2;
}